/* ASIDE */

aside {  
  float: left;
  display: flex;
  left: 0px;
  top: 0px;
  position: fixed;
  margin: 0 auto;
  height: 100%;
  background-color: #f6f5f0;
  padding-top: 100px;
  border: 1px solid #c8c8c8;
  z-index: 7;
}

aside .main-menu {
  bottom: 0;
  right: 0;
  z-index: 1;
  flex-basis: auto;
  flex-grow: 1;
}


aside .main-menu .item .item__name {
  padding: 15px 35px 15px 15px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  flex-grow: 0;
  flex-basis: auto;
  width: 75px;
}
aside .main-menu .item:hover .item__name {
  background-color: #2C2A29;
  color: wheat;
  border-radius: 6px 6px 0 0;
}
aside .main-menu .item .item__contents {
  height: 100%;
  position: fixed;
  top: 95px;
  left: 85px;
  display: none;
}
aside .main-menu .item:hover .item__contents {
  display: block;
}
aside .main-menu .item .item__contents .contents__menu {
  background-color: #2C2A29;
  left: 550px;
  width: 200px;
  height: 100%;
  overflow-x: auto;
  overflow-y: scroll;
}
aside .main-menu .item .item__contents .contents__menu > ul {
  padding: 16px 0 16px 5px;
  display: flex;
}
aside .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px;
}
aside .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 8px;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
aside .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  color: rosybrown;
}

/* SECTION NOTE */

.note {
  height: 100%;
  width: auto;
  display: flex;
  left: 300px;
  top: 0px;
  position: absolute;
  margin: 0 auto;
  padding-top: 150px;
}

.note .upload {
  left: 550px;
}

.note .edit {
  left: 700px;
}

.note .delete {
  left: 850px;
}

.note .cancel {
  left: 1000px;
}

.note .btn {
  position: fixed;

  bottom: 50px;
}

.note .alert-box {
  background: rgb(144, 144, 213);
  color: red;
  font-weight: 900;
  padding: 20px;
  border-radius: 5px;
  position: fixed;
  top: 100px;
  left: 125px;
  width: 100%;
  display: none; /* 숨김 */
}

.note .alert-button {
  position: fixed;
  top: 100px;
  right: 80px;
}
.note .alert-button2 {
  position: fixed;
  top: 100px;
  right: 30px;
}
.note .alert-button3 {
  position: fixed;
  top: 130px;
  right: 30px;
}


.note .alert-close {
  position: fixed;
  top: 140px;
  right: 100px;
}




#to-top {
  width: 42px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}